*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #f4d1d1;
    padding: 10px;
}
.text-block {
    margin: 20px;
    
    background-color: #f0f0f0;
    border-radius: 8px;
    font-size: 1.2rem;
    color: #faf8f8;
}
#block1{
    margin: 20px;
    padding: 78px 45px 100px 60px;
    background-color: #421d1d;
    border-radius: 8px;
}
#block2{
    margin: 20px;
    padding: 50px 35px 30px 20px;
    background-color: #2d6a4f;
    border-radius: 8px;
}
#block3{
    margin: 20px;
    padding: 20px;
    background-color: #003366;
    border-radius: 8px;
}
